body {
    font-family: Helvetica, sans-serif;
    font-size: 22px; 
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

header,
header img,
header ul {
    top: 0;
    position: fixed;
}

header img {
    margin: 0 10px;
    text-align: left;
    top: 5px;
    left: 0px;
    height: 50px;
    display: inline-block;
}

header ul {
    margin: 0 10px;
    display: inline-block;
    right: 0px;
    top: 20px;
}

header ul li{
    display: inline-block;
}

header a {
    margin: 0 20px;
}

body {
    position: relative;
    top: 69px;
}

.ourmission {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-image: url(./img-mission-background.webp);
}

#ourmissionbanner {
    background-color: black;
    position: relative;
    top: 43%;
    padding: 1px 0;
}

.totd.container {
    display: flex;
    width: 1000px;
}

.col {
    width: 300px;
    height: 320px;
    display: inline-flex;
    flex-direction: column;
    margin: 7.5px 20px;
    background-color: black;
}

.location {
    width: 1200px;
    height: 500px;
    background-image: url(./img-locations-background.webp);
    margin: 0 auto;
}

.location.container {
    display: flex;
    width: 1200px;
}

footer {
    height: 200px;
}

.copyright {
    margin: 0 20px;
    text-align: left;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color:white;
    text-decoration: none;
}

footer a:hover {
    color: lightblue;
}