* {
    margin: 25 auto;
    padding: 0;
}

body {
    font-family: 'Quicksand', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color:grey;
}

h1 {
    text-align: center;
}

h2 {
    text-align:left;
}

h3{
    font-size: 70%;
}

p {
    font-size: 50%;
    font-weight: 300;
}

section {
    border: solid 2px grey;
    width: 85%;
    text-align: center;
    padding: 20px;
}

article {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    vertical-align: top;
    padding: 0 5px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

article::-webkit-scrollbar {
    display: none;
}

.font {
    border: dashed 1px grey;
    height: 350px;
}

.colorcode {
    font-size: 50%;
}

.purple {
    background-color: #8F0B8F;
    color: white;
}

.blue {
    background-color: #76E0EB;
    color: black;
}

.orange {
    background-color: #ff9100;
    color: black;
}

.green {
    background-color: #0CFF00;
    color: black;
}

article.chakra-petch {
    font-family: 'Chakra Petch', sans-serif;
}

article.helvetica {
    font-family: Helvetica, sans-serif;
}

article.comicsans {
    font-family: 'Comic Sans MS', cursive, serif;
}

footer p{
    margin: 0;
    padding: 0;
}

footer p a,
footer p a:visited {
    color: #8F0B8F;
    font-weight: 600;
}

footer p a:hover {
    text-decoration: underline;
}